.Head{
    position: absolute;
width: 1980px;
height: 1056.5px;
left: 0px;
top: -4px;
}
.skyb{
    position: absolute;
width: 157px;
height: 40px;
left: 358px;
top: 61px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-transform: uppercase;

color: #FFFFFF;
}
.Home{
position: absolute;
width: 84px;
height: 22px;
left: 1089px;
top: 70px;

/* Main menu */

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}
.Pricing{
position: absolute;
width: 74px;
height: 22px;
left: 929px;
top: 70px;

/* Main menu */

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}
.Contact{
    position: absolute;
width: 63px;
height: 22px;
left: 797px;
top: 70px;

/* Main menu */

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}
.ButLog{
    position: absolute;
    height: 16px;
    left: 1297px;
    right: 567px;
    top: 76px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    /* identical to box height, or 119% */
    
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.SingUp{
    position: absolute;
    left: 1439px;
    right: 18.18%;
    top: 79px;
    bottom: 98.11%;
    border-radius: 15px;
    width: 100px;
    height: 36px;
    border: none;
    color: #BB6DF3;
    background: #FFFFFF;
}
.Pers{
    position: absolute;
    width: 507px;
    height: 140px;
    left: 352px;
    top: 290px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 70px;
    /* or 97% */
    
    text-transform: uppercase;
    
    color: #3B668D;
}
.Box1{
    position: absolute;
left: 45.33%;
right: 12.18%;
top: 280px;
bottom: 81.43%;
}
.onl{
    position: absolute;
width: 579px;
height: 36px;
left: 352px;
top: 600px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

letter-spacing: 0.905em;
text-transform: uppercase;

color: #3B668D;
}
.Lie{
    position: absolute;
width: 506px;
height: 2px;
left: 352px;
top: 700px;

background: #3B668D;
}
.store{
    position: absolute;
width: 459px;
height: 41px;
left: 352px;
top: 720px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 156%;
/* identical to box height, or 41px */

text-transform: uppercase;

color: #3B668D;
}
.Andd{
    position: absolute;
width: 496px;
height: 112px;
left: 352px;
top: 825px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156%;
/* or 28px */

letter-spacing: 0.075em;

color: #2B4964;

}
.Im1{
    position: absolute;
width: 1153.09px;
height: 1166.39px;
left: -47px;
top: 1016px;

}
.Im2{
    position: absolute;
width: 1661px;
height: 1166.39px;
left: -47px;
top: 1016px;
}
.Im3{
    position: absolute;
width: 606px;
height: 217px;
left: 1014px;
top: 1363px;

}
.Im4{
    position: absolute;
    width: 606px;
    height: 217px;
    left: 1008px;
    top: 1564px;
}
.Im5{
    position: absolute;
    width: 606px;
    height: 217px;
    left: 1014px;
    top: 1823px;
    
}
.AM1{
    position: absolute;
width: 2147.48px;
height: 1279px;
left: -375px;
top: 2256px;
}
.Bocc{
    position: absolute;
width: 1452px;
height: 84px;
left: 269px;
top: 2256px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 72px;
line-height: 84px;
text-align: center;
letter-spacing: 0.285em;
text-transform: uppercase;

/* Heading */

color: #3B668D;
}
.Boccs{
    position: absolute;
width: 624px;
height: 94px;
left: 682.48px;
top: 2500px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #79788F;
}
.Fons2{
    position: absolute;
    width: 677px;
    height: 854.92px;
    left: -375px;
    top: 2583.76px;
}
.Tor1{
    position: absolute;
width: 450px;
height: 807px;
left: 172.48px;
top: 2622px;
background-color: rgb(255, 255, 255);
}
.TorS{
    position: absolute;
width: 358.41px;
height: 209.76px;
left: 120.1px;
top: 2560px;

background: #AAEBFF;
opacity: 0.5;
border-radius: 88px;
}
.text1{
    position: absolute;
width: 189px;
height: 54px;
left: 150px;
top: 33px;

/* Heading */

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 54px;
/* identical to box height */

text-align: center;

/* Heading */

color: #3B668D;

}
.tex11{
    position: absolute;
width: 193px;
height: 71px;
left: 150px;
top: 71px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 71px;
text-align: center;

color: #8572FF;
}
.Pp{
    position: absolute;
width: 308px;
height: 0px;
left: 243.48px;
top: 3021px;

border: 1px solid #D3D3D3;
transform: rotate(0.02deg);
}
.Qw1{
    position: absolute;
width: 247px;
height: 216px;
left: 243.48px;
top: 3098px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
/* or 24px */


color: #567796;
}
.q11{
    position: absolute;
    width: 20px;
    height: 17px;
    left: 531.48px;
    top: 3102px;
    
    border: 4px solid #32C52F;
}
.q22{
    position: absolute;
    width: 20px;
    height: 17px;
    left: 531.48px;
    top: 3166px;
    
    border: 4px solid #32C52F;
}
.q33{
    position: absolute;
    width: 20px;
    height: 17px;
    left: 531.48px;
    top: 3230px;
    
    border: 4px solid #32C52F;
}
.q44{
    position: absolute;
width: 20px;
height: 17px;
left: 531.48px;
top: 3294px;

border: 4px solid #32C52F;
}
.tqw2{
    position: absolute;
width: 596.08px;
height: 923.9px;
left: 676.92px;
top: 2586.1px;
}
.qq1{
    position: absolute;
width: 450px;
height: 807px;
left: 1322.48px;
top: 2622px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}